body {
    width: 100%;
}

.wrapper {
    width:400px;
    margin: 0 auto;
}

.header {
    width:400px;
    height:100px;
    background-color: #141f40;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    margin-right: 20px;
}

.item1-1 {
    width: 40px;
    height: 40px;
    background-color:#a9004b;
    border: 10px solid;
    border-color: #ffffff;
}

.item1-2 {
    width: 40px;
    height: 40px;
    background-color:#a9004b;
    border: 10px solid;
    border-color: #ffffff;
}

.item1-3 {
    width: 40px;
    height: 40px;
    background-color:#a9004b;
    border: 10px solid;
    border-color: #ffffff;
}

.side {
    float:left;
    width:150px;
    height:250px;
    background-color: #80bfa8;
}


.content {
    float:left;
    width:250px;
    height:250px;
    background-color: #8c2727;
} 

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
    margin: 40px 60px 40px 40px;
}

.item2-1 {
    width: 140px;
    height: 40px;
    background-color:#ff863f;
    border: 5px solid;
    border-color: #ffffff;
}

.item2-2 {
    width: 140px;
    height: 40px;
    background-color:#ff863f;
    border: 5px solid;
    border-color: #ffffff;
}

.item2-3 {
    width: 140px;
    height: 40px;
    background-color:#ff863f;
    border: 5px solid;
    border-color: #ffffff;
}

.footer {
    width:400px;
    height:100px;
    background-color: #d98d30;

}

.clearfix:after {
    content: "";
    display: block;
    clear: both;

}

@media screen and (min-width: 767px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 300px) {
}